.box-meme-preview-modal {

  display: flex;
  flex-direction: column;

  .box-generator-modal__close {
    position: relative;
    align-self: center;
    top: 60px;
    left: 0;
    right: 0;
  }

  .image-loader {
    height: 300px;
    position: relative;

    .box-activity-indicator {
      position: absolute;
      top: 50%;
      left: calc(50% - 22px);
      transform: translate(-50%, -50%);
    }
  }

  img {
    margin-top: 100px;
    max-height: 300px;

    &.loading {
      height: 1px;
      margin: 0;
    }
  }

  .labels-container {
    justify-content:center;
  }
}
